@tailwind base;
@tailwind components;
@tailwind utilities;



.stopwatch-wrapper {
  position: fixed;
  cursor: grab;
  user-select: none;
  background: #f4f4f4;
  border-radius: 18px;
  width: 360px;
  padding: 14px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.25);
}

.top-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 6px;
}

.icon {
  background: #fff;
  padding: 2px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
}

.display {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin: 10px 0;
}

.digit-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.digit {
  width: 44px;
  height: 68px;
  background: #111;
  border-radius: 8px;
  color: #f3f38c;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.digit-block button {
  background: #8bc34a;
  border: none;
  border-radius: 50%;
  color: white;
  width: 22px;
  height: 22px;
  font-size: 12px;
  cursor: pointer;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 18px;
  background: #e5e5e5;
  padding: 10px;
  border-radius: 20px;
}

.controls button {
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
